# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# .gitignore
.env.local
# Ignora node_modules
node_modules/

# Ignora archivos de lock si usas npm
package-lock.json

# Ignora archivos de lock si usas yarn
yarn.lock

# Ignora salida del build
dist/
